/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* UTILS */

.container {
  /* display: flex; */
  padding: 0 15px;
  margin: 0 auto;
  width: 70%;
}

button {
  border: none;
  background-color: #0965ff;
  color: white;
  padding: 10px 15px;
}

.smaller-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
  flex-direction: column;
}

/* DROPBOX */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar > div {
  display: flex;
  flex-wrap: nowrap;
}

header a {
  text-decoration: none;
  color: #797979;
}

.navbar button {
  margin-left: 10px;
  padding: 0px 10px;
}

header .container {
  background-color: #b4d0e7;
  justify-content: center;
  display: flex;
  width: 100%;
}

header .container h1 {
  font-size: 5.5rem;
}

header .container .smaller-container {
  width: 70%;
  margin-top: 70px;
  /* flex-direction: column; */
}

.jumbo {
  display: flex;
}

.jumbo button {
  margin: 40px 0;
}

.jumbo > div:first-child {
  line-height: 25px;
  width: 30%;
  margin-top: 75px;
}

.jumbo > div:last-child {
  width: 70%;
  position: relative;
  bottom: -80px;
}

.jumbo i {
  font-size: 3.5rem;
  margin-top: 100px;
}

/* MAIN */

/* main .container {
  margin-top: 120px;
} */

/* .smaller-container.cards {
  flex-direction: column;
} */

.smaller-container.cards h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.input_radio {
  display: flex;
  gap: 40px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 35px;
  justify-content: space-between;
}

.card {
  width: calc(100% / 3 - 35px);
}

.card-header {
  text-align: center;
  border: 1px solid lightgray;
  padding: 5px 10px;
}

.card-body {
  padding: 20px 25px;
  border: 1px solid lightgray;
}

.card-body ul {
  list-style-position: outside;
  padding: 15px;
}

.card-body button {
  margin: 40px 0;
  text-align: center;
  padding: 10px 30px;
}

.card-body div:last-child {
  margin-top: 30px;
}

.card.full-width {
  width: 100%;
}

/* .container-cards div:last-child .card-header {
  width: 100%;
}

.container-cards div:last-child .card-body {
  width: 100%;
  display: flex;
} */

/* PARTNER */

.smaller-container.partner {
  margin-top: 120px;
  gap: 30px;
  flex-direction: row;
}

.smaller-container.partner img {
  width: 60%;
}

.smaller-container.partner .text {
  width: 40%;
  padding: 40px 0;
}

.partner .text * {
  margin-bottom: 20px;
}

.text p {
  line-height: 20px;
}

/* BUSINESS */

.business .card-header,
.business .card-body {
  border: none;
  padding: 0;
}

.smaller-container.business p {
  margin-top: 30px;
}

.smaller-container.business h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  width: 60%;
  margin-top: 100px;
}

/* IMG SECTION */

.debug {
  border: 2px solid black;
}

.img-section {
  display: flex;
  margin-top: 200px;
}

.img-section div {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.four-imgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.four-imgs div {
  width: calc(100% / 2);
  height: calc(100% / 2);
}

.designit {
  padding: 30px;
}

.designit p {
  margin-top: 30px;
}

.celeste {
  background-color: #b4d0e7;
  margin: 0 auto;
  padding: 100px;
}

.celeste > .smaller-container {
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-top: 0;
}

.celeste .smaller-container h2 {
  color: #630d2d;
  font-size: 2.5rem;
  width: 50%;
}

.celeste .smaller-container button {
  background-color: white;
  color: black;
}

/* FAQ SECTION */

.smaller-container.faq h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

#first-question {
  border-top: 2px solid #a2a2a2;
}

.smaller-container.faq .question {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  padding-right: 50px;
  border-bottom: 2px solid #a2a2a2;
}

/* FOOTER */

footer {
  background-color: black;
  margin-top: 120px;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .smaller-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 60px;
  justify-content: space-between;
  width: 70%;
}

.Dropbox-card {
  width: calc(100% / 5);
}

.Dropbox-card h3 {
  margin-bottom: 25px;
}

.card-links {
  line-height: 35px;
}

.language {
  display: flex;
  gap: 10px;
  margin: 95px 0;
  border-top: 2px solid lightgray;
  padding: 40px 0;
  color: lightgray;
}
